@{
    ViewData["Title"] = "Регистрация";
}

    <div >

   
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 text-center">
                        <h1 id="captionId">Регистрация устройства</h1>
                        <div class="input-group mt-4 mb-4" id="divFormId">
                            <input id="phoneNumber" type="number" name="Phone" class="form-control" placeholder="Введите свой номер телефона">
                            <div class="input-group-append">

                                <button class="btn btn-success" type="button" onclick="registry(false);">Войти</button>
                            </div>
                            @if (Model.AddQuarantine)
                            {
                                <div class="col-sm-12">
                                    <button class="btn btn-light" type="button" onclick="registry(true);">Добавить или обновить карантин</button>
                                </div>
                            }
                        </div>
                      
                        <div class="col-sm-12" id="errorInfo">
                            <strong id="passwordHelp" class="text-danger">
                                @Model.ErrorInfo
                            </strong>
                        </div>

                        <div class="spinner-border" role="status" id="loadingBarId">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                
  
    </div>

   

    <script type="text/javascript">
        function registry(addOrUpdateQuarantine) {
            var deviceTokenId = document.getElementById("token_div").innerHTML;
            if (deviceTokenId == null || deviceTokenId.length < 10)
                deviceTokenId = "@Model.DeviceId";

            postData('/api/v1/Device/AddDevicePerson', {
                phone: document.getElementById("phoneNumber").value,
                deviceId: deviceTokenId,
                addQuarantine: addOrUpdateQuarantine
                })
                .then((data) => {
                    if (data.isOk) {
                        notifyMessage({
                            data: {
                                notifyType: "success"
                            },
                            notification: {
                                title: "Спасибо!",
                                body: ""
                            }
                        });
                        window.localStorage.setItem('Identity', deviceTokenId);
                        document.location.href = "";
                    } else {
                        if (data.error) {
                            notifyMessage({
                                data: {
                                    notifyType: "danger"
                                },
                                notification: {
                                    title: "Ошибка!",
                                    body: data.error
                                }
                            });
                        }
                        else {
                            notifyMessage({
                                data: {
                                    notifyType: "danger"
                                },
                                notification: {
                                    title: "Ошибка!",
                                    body: "Регистрация невозможна"
                                }
                            });
                        }
                    }
                    console.log(data); // JSON data parsed by `response.json()` call
                }, (reject) => {
                        notifyMessage({
                            data: {
                                notifyType: "danger"
                            },
                            notification: {
                                title: "Ошибка!",
                                body: "Регистрация временно невозможна"
                            }
                        });
                });

        }
        function getPersonByDevice(device_id, onSuccess, onError) {
            fetch('/api/v1/Device/GetPersonByDevice' + device_id)
                .then((response) => {
                    return response.json();
                })
                .then((res) => {
                    console.log(res);
                    onSuccess();
                }, (r) => { onError(); });
        }
        function checkLocalDevice() {
            console.log('check deviceId from local sorage.');
            document.getElementById("loadingBarId").style.display = "none";
            var res = window.localStorage.getItem('Identity');
            if (res != null && res.length > 10) {
                window.localStorage.setItem('IdentityStart', '1');
                document.getElementById("captionId").innerHTML = "Проверка устройства";
                document.getElementById("divFormId").style.display = "none";
                document.getElementById("errorInfo").style.display = "none";
                document.getElementById("loadingBarId").style.display = "block";
                getPersonByDevice(res, function () {
                    document.location.reload(true);

                }, function () {                    
                        var tokend = document.getElementById(tokenDivId);
                        if (typeof tokend != 'undefined' && tokend.innerHTML != res) {
                            window.localStorage.setItem('Identity', tokend.innerHTML);
                            checkLocalDevice();
                        } else {
                            document.getElementById("loadingBarId").style.display = "none";
                            document.getElementById("divFormId").removeAttribute('style');
                            document.getElementById("errorInfo").removeAttribute('style');
                            document.getElementById("captionId").innerHTML = "Регистрация устройства";
                            window.localStorage.setItem('Identity', '');
                        }

                });

            }


        }


        checkLocalDevice();
    </script>


