@{
    ViewData["Title"] = "Регистрация";
}

<div id="divFormId"   >
    <form method="post" asp-controller="Home" asp-action="Registry">
        <input id="deviceId" type="hidden" value="@Model.DeviceId" name="DeviceId" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Phone">Введите свой номер телефона</label>
                <input type="number" name="Phone" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Войти" class="btn btn-primary" />
        <div class="col-sm-3">
            <small id="passwordHelp" class="text-danger">
                @Model.ErrorInfo
            </small>
        </div>

    </form>
</div>

    <div class="spinner-border" role="status" id="loadingBarId" >
        <span class="sr-only">Loading...</span>
    </div>

    <script type="text/javascript">

    function getPersonByDevice(device_id, onSuccess, onError) {
        var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        xhr.open(
            'GET',
            '/Home/CheckDeviceId?deviceid=' + device_id);
        xhr.onreadystatechange = function () {
            if (xhr.status == 200)
                onSuccess();
            else
                onError();
        }
        xhr.send();
    }
    var res = window.localStorage.getItem('Identity');
function showHideChangeStyle(x) {
  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
        if (res != null && res.length > 10){
   document.getElementById("divFormId").style.display = "none";
            getPersonByDevice(res, function () {
        document.location.reload(true);

            }, function(){
                         document.getElementById("divFormId").style.display = "block";
     window.localStorage.setItem('Identity','');

            });

        }
   document.getElementById("loadingBarId").style.display = "none";
    </script>


