@using System.Globalization;
@model WebApplication.Models.LocationsModel
@{
    ViewData["Title"] = "Карантин";
}

    <script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map('MapLocationId', {
            center: [55.751574, 37.573856],
            zoom: 9,
            behaviors: ['default', 'scrollZoom']
        }, {
            searchControlProvider: 'yandex#search'
        }),
            clusterer = new ymaps.Clusterer({
                preset: 'islands#invertedVioletClusterIcons',
                groupByCoordinates: false,
                clusterDisableClickZoom: true,
                clusterHideIconOnBalloonOpen: false,
                geoObjectHideIconOnBalloonOpen: false
            }),
            getPointData = function (index) {
                return {
                    hintContent: 'Зона карантина ' + index,
                    balloonContent: 'Зона карантина ' + index,
                    clusterCaption: 'Зона карантина ' + index
                };
            },
            getPointOptions = function () {
                return {
                    preset: 'islands#violetIcon'
                };
            };
        var geoObjects = [];
        fetch('/api/v1/Device/GetZonaLocations')
            .then((response) => {
                return response.json();
            })
            .then((points) => {
                for (var i = 0, len = points.length; i < len; i++) {
                    geoObjects[i] = new ymaps.Placemark([points[i].lat, points[i].lon], getPointData(i), getPointOptions());
                }

                clusterer.options.set({
                    gridSize: 80,
                    clusterDisableClickZoom: true
                });


                clusterer.add(geoObjects);
                myMap.geoObjects.add(clusterer);


                myMap.setBounds(clusterer.getBounds(), {
                    checkZoomRange: true
                });
            });
});
    </script>

<div id="MapLocationId" style="width: 100%; height: 470px"></div>
