@using System.Globalization;
@model WebApplication.Models.LocationsModel
@{
    ViewData["Title"] = "Карантин";
}

<script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map('MapLocationId', {
            center: [55.751574, 37.573856],
            zoom: 9,
            behaviors: ['default', 'scrollZoom']
        }, {
            searchControlProvider: 'yandex#search'
        }),
            clusterer = new ymaps.Clusterer({
            preset: 'islands#invertedVioletClusterIcons',
            groupByCoordinates: false,
            clusterDisableClickZoom: true,
            clusterHideIconOnBalloonOpen: false,
            geoObjectHideIconOnBalloonOpen: false
        }),
            getPointData = function (timeInfo) {
                return {
                    hintContent: 'Место передачи координат(<strong> ' + timeInfo +'</strong >)',
                    balloonContent: 'Место передачи координат (<strong>' + timeInfo + '</strong>)',
                    clusterCaption: 'Место передачи координат (<strong>' + timeInfo +'</strong>)'
            };
        },
            getPointOptions = function () {
            return {
                preset: 'islands#violetIcon'
            };
        },
            points =
            @Html.Raw(Json.Serialize(Model.Locations.OrderByDescending(w=>w.TimeInfo).ToArray()))
            ,
        geoObjects = [];

        for (var i = 0, len = points.length; i < len; i++) {
            geoObjects[i] = new ymaps.Placemark([points[i].lat, points[i].lon], getPointData(points[i].timeInfo), getPointOptions());
    }

    clusterer.options.set({
        gridSize: 80,
        clusterDisableClickZoom: true
    });


    clusterer.add(geoObjects);
    myMap.geoObjects.add(clusterer);


    myMap.setBounds(clusterer.getBounds(), {
        checkZoomRange: true
    });
});
</script>

<div id="MapLocationId" style="width: 100%; height: 470px"></div>
